%li{:id => "comment_#{comment.id}"}
  - if comment.user_email
    = mail_to(comment.user_email, comment.username)
  - else 
    = comment.username
  = comment.user_homepage
  = comment.content
  = comment.created_at
  = # link_to "Repondre", new_article_comment_path(@article, :parent_id => comment.id), :remote => true