#comment_form
  #comment_form_errors
  = semantic_form_for [@article, @comment], :remote => true do |f|
    - f.inputs do
      = f.input :content       , :input_html => { :rows => 10, :cols => 50 }, :label => "Commentaire"
      = f.input :username                                                   , :label => "Pseudo"
      = f.input :user_email                                                 , :label => "Email (privé)"
      = f.input :user_homepage                                              , :label => "Site perso"
      = f.input :article_id    , :as => :hidden, :value => @article.id
      = f.input :parent_id     , :as => :hidden, :value => params[:parent_id]
    = f.buttons do
      = f.commit_button "Poster"

= content_for :javascript do
  :coffeescript
    $( -> 
      $('#new_comment').submit( (e) ->
        $("#comment_form_errors").html('')
        has_errors = false
        if $('#comment_content').val() == ""
          e.preventDefault()
          has_errors = true
          $("#comment_form_errors").append("<p>Vous n'allez quand même pas poster un commentaire vide...?</p>")
        if $('#comment_username').val() == ""
          e.preventDefault()
          has_errors = true
          $("#comment_form_errors").append("<p>Vous devez spécifier un pseudo</p>")

        return !has_errors
      )
    )
    