%h1 Listing comments
%table
  %tr
    %th Username
    %th Content
    %th Article
    %th Ancestry
    %th
    %th
    %th
  - @comments.each do |comment|
    %tr
      %td= comment.username
      %td= comment.content
      %td= comment.article_id
      %td= comment.ancestry
      %td= link_to 'Show', comment
      %td= link_to 'Edit', edit_comment_path(comment)
      %td= link_to 'Destroy', comment, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New Comment', new_comment_path
