%p#notice= notice
%p
  %b Username:
  = @comment.username
%p
  %b Content:
  = @comment.content
%p
  %b Article:
  = @comment.article_id
%p
  %b Ancestry:
  = @comment.ancestry
= link_to 'Edit', edit_article_comment_path(@article, @comment)
|
= link_to 'Back', article_comments_path(@article)