%article
  %h1= article.title
  .article_content
    ~ article.content[0..300].html_safe
    …
    = link_to 'En savoir plus', article
  %ul.authors
    - article.authors.each do |author|
      %li
        = link_to author.name, profile_path(author.name)
  - if author_signed_in? #and article.authors.contains(current_author)
    = link_to 'Edit', edit_article_path(article)
    = link_to 'Destroy', article, :confirm => 'Are you sure?', :method => :delete
