%article
  %header
    %h2= link_to article.title, article_path(article.link)
    .authors
      Par
      = join_authors article
    %time{ :datetime => l(article.created_at.to_date, :format => "%Y-%m-%d") }
      le
      %span.day= l article.created_at.to_date, :format => "%d"
      = l article.created_at.to_date, :format => "%b"
      = l article.created_at.to_date, :format => "%Y"
  .wrapper    
    %p.article_content
      = article.introduction
      = link_to "Lire la suite…".html_safe, {:controller => "articles", :action => "show", :id => article.link}, :class => 'more_link'
    .tags
      = join_tags article

    - if current_author
      .admin_tool
        = button_to "Supprimer", article_path(article),:confirm => "are you sure ?", :method => :delete
        -# if article.activate == true 
          = button_to 'Desactiver', desactivate_article_path(article.id)        
        -# else
          = button_to 'Activer', activate_article_path(article.id)
.page-header