%article
  %header
    %time{ :datetime => article.created_at }
      %span.day= l article.created_at.to_date, :format => "%d"
      = l article.created_at.to_date, :format => "%b"
      = l article.created_at.to_date, :format => "%Y"
  .wrapper    
    = link_to content_tag(:h2, article.title), :controller => "articles", :action => "show", :id => article.title.gsub(/ /, "_")
    
    %p.article_content
      = article.introduction
    .tags
      = join_tags article
    .authors
      = join_authors article
    / .comments
    /   = link_to "Commentaires", :controller => "articles", :action => "show", :id => article.title.gsub(/ /, "_"), :anchor => "disqus_thread"

