%article
  %time{ :datetime => article.created_at }
    %span.day= l article.created_at.to_date, :format => "%d"
    = l article.created_at.to_date, :format => "%B"
    = l article.created_at.to_date, :format => "%Y"
    
  = link_to article.title, :controller => "articles", :action => "show", :id => article.title.gsub(/ /, "_")
  
  .article_content
    ~ article.content[0..300].html_safe

  %ul.tags
    - article.tags.each do |tag|
      %li
        = link_to tag.name, articles_path(:tag => tag.name)
  %ul.authors
    - article.authors.each do |author|
      %li
        = link_to author.name, profile_path(author.name)
  .comments
    = link_to pluralize(article.comments.length, "Commentaire"), :controller => "articles", :action => "show", :id => article.title.gsub(/ /, "_")
  - if author_signed_in? #and article.authors.contains(current_author)
    = link_to 'Edit', edit_article_path(article)
    = link_to 'Destroy', article, :confirm => 'Are you sure?', :method => :delete
