%article
  %header
    %h2
      = link_to article.title, article_path(article.link)
      %small
        .authors
          Par
          = join_authors article
          le
        %time{ :datetime => l(article.created_at.to_date, :format => "%Y-%m-%d") }
          %span.day= l article.created_at.to_date, :format => "%d"
          = l article.created_at.to_date, :format => "%b"
          = l article.created_at.to_date, :format => "%Y"
  .wrapper    
    %p.article_content
      = article.introduction
      = link_to "Lire la suite…".html_safe, {:controller => "articles", :action => "show", :id => article.link}, :class => 'more_link'
    = join_tags article

.divider
  .page-header
  .page-header