= semantic_form_for @article do |f|
  - # render :partial => "shared/form_error", :object => @article
  - f.inputs do
    = f.input :title
    = f.input :content,       :as => :text
    = f.input :authors  , :as => :check_boxes, :required => true
    = f.input :tags     , :as => :check_boxes, :required => false

  = f.buttons