%aside.date
 
%section.articles  
  - @articles.each do |article|
    = render article
  = will_paginate @articles, :previous_label => "Précédent", :next_label => "Suivant"

%aside.tags
  .content

    = render "shared/search"
    #tags
      %h2 Tags
      %ul
        - @tags.each do |tag|
          %li= link_to "#{tag.name} (#{tag.articles.length})", articles_path(:tag => tag.name)
      

= content_for :javascript do
  :coffeescript
    $( () ->
      $('#advance_search').toggle()
      $('#advance_search_button').click( ->
        $('#advance_search').slideToggle()
      )
    )