= content_for :meta_description do
  Blog destiné à une communauté francophone voulant se lancer dans l'apprentissage de Ruby On Rails.
%aside.date
-if is_mobile?
  %aside.tags
    .content
      = render 'shared/search'   

%section.articles  
  - if @articles.empty?
    %h2.search_title
      Aucun article correspond à votre recherche...
  - elsif @search_text != ""
    %h2.search_title
      = @search_text
  - @articles.each do |article|
    = render article
  = will_paginate @articles, :previous_label => 'Précédent', :next_label => 'Suivant'

%aside.tags
  .content
  
    -if !is_mobile?
      = render 'shared/search'    
    #tags.aside_box
      %h3 Tags
      %ul
        - @tags.each do |tag|
          %li= link_to "#{tag.name} (#{tag.articles.length})", articles_path(:tag => tag.name)
    -if !is_mobile?
      #contact.aside_box
        %h3 Nous contacter
        %p
          N'hésitez pas à nous         
          %a{:href => 'mailto:admin@ontherailsagain.com'} envoyer un mail 
          pour nous demander un article ou ne serais-ce que pour prendre contact avec nous !
    -if !is_mobile?
      #follow_rss
        %a#rss_feed{:href => "http://feeds.feedburner.com/OnTheRailsAgain"} &nbsp;
        #twitter_follow_link
          %a{:href => 'https://twitter.com/OnTheRailsBlog', :class => 'twitter-follow-button', :data => {'show-count' =>'false', :width => '163px'}} Follow @OnTheRailsBlog
          %script{:src => '//platform.twitter.com/widgets.js', :type => 'text/javascript'}
