%aside
  %h2 Tags
  %ul
    - @tags.each do |tag|
      %li= link_to tag.name, articles_path(:tag => tag.name)

.search
  = form_for @search do |f|
    = f.label       :title_or_content_contains
    = f.text_field  :title_or_content_contains
    %a#advance_search_button{:href => "#"} Recherche avancée
    #advance_search
      %br/
      = f.label       :title_contains
      = f.text_field  :title_contains
      %br/
      = f.label       :content_contains
      = f.text_field  :content_contains
      %br/   
      = f.label       :tags_name_contains
      = f.text_field  :tags_name_contains
    %br/   
    = f.submit

  
%section.articles  
  - @articles.each do |article|
    = render article

  = will_paginate @articles, :previous_label => "Précédent", :next_label => "Suivant"

= content_for :javascript do
  :coffeescript
    $( () ->
      $('#advance_search').toggle()
      $('#advance_search_button').click( ->
        $('#advance_search').slideToggle()
      )
    )