= content_for :meta_description do
  Blog destiné à une communauté francophone voulant se lancer dans l'apprentissage de Ruby On Rails.

%section.articles  
  - if @articles.empty?
    %h3
      Aucun article correspond à votre recherche...
  - @articles.each do |article|
    = render article
  = will_paginate @articles, :previous_label => 'Précédent', :next_label => 'Suivant'

%aside.tags
  .content
  
    = render 'shared/search'    
    #tags.aside_box
      %h3 Tags
      %ul
        - @tags.each do |tag|
          %li= link_to "#{tag.name} (#{tag.articles.length})", articles_path(:tag => tag.name)
    #contact.aside_box
      %h3 Nous contacter
      %p
        N'hésitez pas à nous         
        %a{:href => 'mailto:admin@ontherailsagain.com'} envoyer un mail 
        pour nous demander un article ou ne serais-ce que pour prendre contact avec nous !
    #follow_rss
      %a#rss_feed{:href => "http://feeds.feedburner.com/OnTheRailsAgain"} &nbsp;
      #twitter_follow_link
        %a{:href => 'https://twitter.com/OnTheRailsBlog', :class => 'twitter-follow-button', :data => {'show-count' =>'false', :width => '170px'}} Follow @OnTheRailsBlog
        %script{:src => '//platform.twitter.com/widgets.js', :type => 'text/javascript'}
    = auto_discovery_link_tag(articles_url(:rss, :title => "OnTheRailsAgain - RSS"))
