%h1 Listing articles
%table
  %tr
    %th Title
    %th Introduction
    %th Content
    %th Author
    %th
    %th
    %th
  - @articles.each do |article|
    %tr
      %td= article.title
      %td= article.introduction
      %td= article.content
      %td= article.author_id
      %td= link_to 'Show', article
      %td= link_to 'Edit', edit_article_path(article)
      %td= link_to 'Destroy', article, :confirm => 'Are you sure?', :method => :delete

%br/
= link_to 'New Article', new_article_path