= content_for :meta_description do
  Blog destiné à une communauté francophone voulant se lancer dans l'apprentissage de Ruby On Rails.
  
#article_section.articles.span8
  - if @articles.empty?
    %h2.search_title.page-header
      Résultat de la recherche
    %p.alert.alert-warning
      Aucun article ne correspond à votre recherche...
      
  - elsif @search_text != ""
    %h2.search_title.page-header
      Résultat de la recherche
    -#%h2.search_title.page-header= @search_text
    %p.alert.alert-info= @search_text
      
  - @articles.each do |article|
    = render article
  = will_paginate @articles, :previous_label => '«', :next_label => '»', :class => 'otra-pagination-centered'

%aside.tags.span4
  .content        
    - if current_author
      = button_to 'Nouvel article', new_article_path, :method => :get

    #tags.aside_box
      %h3.page-header Catégories
      %p
        - @tags.each do |tag|
          %span= link_to tag.name, articles_path(:tag => tag.name)

    #contact.aside_box
      %h3.page-header Nous contacter
      %p
        N'hésitez pas à nous         
        %a{:href => 'mailto:admin@ontherailsagain.com'} envoyer un mail 
        pour nous demander un article ou ne serais-ce que pour prendre contact avec nous !

    #tool
      - if current_author
        = button_to 'Tout desactiver', desactivate_all_articles_path
        = button_to 'Tout activer', activate_all_articles_path