#current_section
  %h1
  %h2
  %h3
.article_content
  ~ @article.content.html_safe
  %p
    %b Authors:
    %ul
    - @article.authors.each do |author|
      %li=author.name
  %p
    %b Tags:
    %ul.tags
      - @article.tags.each do |tag|
        %li= link_to tag.name, articles_path(:tag => tag.name)

  - if author_signed_in?
    = link_to 'Edit', edit_article_path(@article)
  
  %ul#comments
    = nested_comments(@article.comments.arrange(:order => :created_at))
  
  = render "comments/form"

%aside#summary
  #summary_content
    ~ @article.summary.html_safe


= content_for :javascript do
  :coffeescript
    $( ->
      $(window).scroll( ->
        summary = $('#summary')
        
        h2 = $('.article_content h2')
        for i in [0..($('.article_content h2').length - 1)]
          if ($(h2[i]).offset().top - $(document).scrollTop()) < 80
            $("#summary *").css('color', '#000')
            $("#summary *").css('font-weight', 'normal')
            $($("#summary h2")[i]).css('color', '#A00')
            $($("#summary h2")[i]).css('font-weight', 'bold')


        h3 = $('.article_content h3')
        for i in [0..($('.article_content h3').length - 1)]
          if ($(h3[i]).offset().top - $(document).scrollTop()) < 80
            $("#summary *").css('color', '#000')
            $("#summary *").css('font-weight', 'normal')
            $($("#summary h3")[i]).css('color', '#A00')
            $($("#summary h3")[i]).css('font-weight', 'bold')

        h4 = $('.article_content h4')
        for i in [0..($('.article_content h4').length - 1)]
          if ($(h4[i]).offset().top - $(document).scrollTop()) < 80
            $("#summary *").css('color', '#000')
            $("#summary *").css('font-weight', 'normal')
            $($("#summary h4")[i]).css('color', '#A00')
            $($("#summary h4")[i]).css('font-weight', 'bold')
      )

    )
















