= flash[:notice]
= flash[:error]

.article_content
  %h1= @article.title
  %p.posted_by
    Posté par 
    = join_authors @article
    le 
    = l @article.created_at.to_date, :format => "%d %b %Y"
    - if @article.updated_at != @article.created_at
      (Mis à jour le
      = l @article.created_at.to_date, :format => "%d %b %Y"
      )
  ~ @article.content.html_safe
  
  %hr
  - if @article.tags.nil? 
    %h3 Tags:
    %ul.tags
      - @article.tags.each do |tag|
        %li= link_to tag.name, articles_path(:tag => tag.name)

  .share_button
    %g:plusone{:size => "medium", :count => "false"}
  .share_button
    %a{ :href => "http://twitter.com/share?count=none", :class => "twitter-share-button"} 
  #fb_span
    %fb:like{ :send => "false", :layout => "standard", :action => "like", :data => {:show_faces => "false"}}

  #disqus_thread
    = raw disqus_thread


%aside#summary
  #summary_content
    ~ @article.summary.html_safe

= content_for :javascript do
  - if Rails.env.production?
    = javascript_include_tag "article_show"
  - else
    = coffeescript_include_tag "article_show"
