%p#notice= notice
%p
  %b Title:
  = @article.title
%p
  %b Introduction:
  = @article.introduction
%p
  %b Content:
  = @article.content
%p
  %b Author:
  = @article.author_id

= render 'form'

= link_to 'Edit', edit_article_path(@article)
|
\#{link_to 'Back', articles_path}