= flash[:notice]
= flash[:error]
.article_content
  ~ @article.content.html_safe
  %p
    %b= @article.authors.length > 1 ? "Auteurs:" : "Auteur:"
    %ul
    - @article.authors.each do |author|
      %li=author.name
  %p
    %b Tags:
    %ul.tags
      - @article.tags.each do |tag|
        %li= link_to tag.name, articles_path(:tag => tag.name)

  - if author_signed_in?
    = link_to 'Edit', edit_article_path(@article)

  %h3#comments_header= pluralize(@article.comments.length, "Commentaire")
  #comments
    = nested_comments(@article.comments.arrange(:order => :created_at))
  
  = render "comments/form"

%aside#summary
  #summary_content
    ~ @article.summary.html_safe


= content_for :javascript do
  = coffeescript_include_tag "article_show"