#current_section
  %h1
  %h2
  %h3
.article_content
  ~ @article.content.html_safe
  %p
    %b Authors:
    %ul
    - @article.authors.each do |author|
      %li=author.name
  %p
    %b Tags:
    %ul.tags
      - @article.tags.each do |tag|
        %li= link_to tag.name, articles_path(:tag => tag.name)

  - if author_signed_in?
    = link_to 'Edit', edit_article_path(@article)
  
  %ul#comments
    = nested_comments(@article.comments.arrange(:order => :created_at))
  
  = render "comments/form"

%aside#summary
  #summary_content
    ~ @article.summary.html_safe


= content_for :javascript do
  :coffeescript
    $( ->
      $(window).scroll( ->
        summary = $('#summary')
        
        for h1 in $('.article_content h2')
          if ($(h1).offset().top - $(document).scrollTop()) < 80
            $('#current_section h1').text($(h1).text())
          if $('#current_section h1').text()[0] != $('#current_section h2').text()[0]
            $('#current_section h2').text("")
          if $('#current_section h1').text()[0] != $('#current_section h3').text()[0]
            $('#current_section h3').text("")

        for h2 in $('.article_content h3')
          if ($(h2).offset().top - $(document).scrollTop()) < 80
            if $(h2).text()[0] == $('#current_section h1').text()[0]
              $('#current_section h2').text($(h2).text())

        for h3 in $('.article_content h4')
          if ($(h3).offset().top - $(document).scrollTop()) < 80
            if $(h3).text()[0] == $('#current_section h2').text()[0]
              $('#current_section h3').text($(h3).text())
      )

    )
















