= flash[:notice]
= flash[:error]

= content_for :meta_description do
  = @article.introduction

= content_for :title do
  = @article.title
.article_content
  %h1= @article.title
  %p.posted_by
    Posté par 
    = join_authors @article
    le 
    = l @article.created_at.to_date, :format => "%d %b %Y"
    - if @article.updated_at != @article.created_at
      (Mis à jour le
      = l @article.updated_at.to_date, :format => "%d %b %Y"
      )
  #share_button
    .share_button
      %g:plusone{:size => "medium", :count => "false"}
    .share_button
      %a{ :href => "http://twitter.com/share?count=none", :class => "twitter-share-button", :data => {:via => 'ontherailsblog'}} 
    #fb_span
      .fb-like{:data => {:send => false, :layout => "button_count", :width => 100, "show-faces" => false}}

  ~ @article.content.html_safe
  
  %hr
  - if @article.tags.nil? 
    %h3 Tags:
    %ul.tags
      - @article.tags.each do |tag|
        %li= link_to tag.name, articles_path(:tag => tag.name)

  #disqus_thread
    = raw disqus_thread


%aside#summary
  #summary_content
    ~ @article.summary.html_safe

= content_for :javascript do
  = javascript_include_tag "article_show"