= flash[:notice]
= flash[:error]

= content_for :meta_description do
  = @article.introduction

= content_for :title do
  = @article.title

- content_for :header do  
  = stylesheet_link_tag 'libs/prettify'
  = javascript_include_tag 'libs/prettify'

- content_for :javascript do
  = javascript_include_tag 'article_show'

%article
  .article_show
    #left
      .article_content
        %h1= @article.title
        %p.posted_by
          Posté par 
          = join_authors @article
          le 
          = l @article.created_at.to_date, :format => '%d %b %Y'
          - if !@article.updated_at.nil?
            (Mis à jour le
            = l @article.updated_at.to_date, :format => '%d %b %Y'
            )    
        ~ @article.content.html_safe
        %script
          prettyPrint()
        - if @article.tags.nil? 
          %h3 Tags:
          %ul.tags
            - @article.tags.each do |tag|
              %li= link_to tag.name, articles_path(:tag => tag.name)
        .page-header  
    %aside#summary.visible-desktop
      #summary_content
        .page-header
        ~ @article.table_of_content.html_safe
        - if current_author
          = button_to "Editer", edit_article_path(@article.link), :method => :get 
        .page-header
  
  %footer
    #footer_share_buttons
      - bitly_url = BITLY.shorten(@article.permalink).bitly_url
      %span Partager cet article
      %a#delicious{:href => "http://delicious.com/save?&url=#{@article.permalink}&title=#{@article.title}", :rel => 'nofollow', :target => '_blank'}
      %a{ :href => "https://plusone.google.com/_/+1/confirm?hl=fr&url=#{@article.permalink}", :rel => 'nofollow', :target => '_blank'} Google +
      = custom_tweet_button 'Twitter', {:url => bitly_url, :text => @article.title + ' - '}, {:rel => 'nofollow', :target => '_blank'}
      %a{ :href => "http://www.facebook.com/sharer.php?u=#{@article.permalink}&t=#{@article.title}", :target => '_blank', :rel => 'nofollow' } Facebook
    .divider
      .page-header
      .page-header
      
    %aside#see-also.alert.alert-info.bounceOutRight.span4
      %h3 Voir aussi
      %h4= link_to @related_article.title, @related_article

    #disqus
      = raw disqus_thread
