%article#authors_description.row-fluid
  %section.span6
    %div.image-content
      = link_to image_tag('nico.jpg'), author_path('Nicolas')
    %div.text-content
      %h1= link_to 'Nicolas Dupont', author_path('Nicolas')
      %ul
        %li Etudiant ingénieur en alternance chez <a target="_blank" href="http://www.intellicore.net/">Intellicore</a>.
        %li Passionné par tout ce qui touche de près ou de loin au web.
        %li <a target="_blank" href="http://500px.com/Lowx">Photographe amateur</a>.
      %p= link_to 'En savoir plus…', author_path('Nicolas')

  %section.span6
    %div.image-content
      = link_to image_tag('nima.jpg'), author_path('Nima')
    %div.text-content
      %h1= link_to 'Nima Izadi', author_path('Nima')
      %ul
        %li J'aime les gens, l'Iran, les cultures étrangères... La nourriture indienne !
        %li J'essaie également d'être guitariste et <a target="_blank" href="http://500px.com/nima_izadi">photographe amateur</a> pendant mon temps libre.
      %p= link_to 'En savoir plus…', author_path('Nima')
