%article#authors_description.row-fluid
  %section.span6
    %div.image-content
      = link_to image_tag('nico.jpg'), author_path('Nicolas')
    %div.text-content
      %h1= link_to 'Nicolas Dupont', author_path('Nicolas')
      %p Je suis passionné par ce que je fais et j'aime essayer de créer. J'aime partager plein de choses avec les gens et c'est dans ce partage que je trouve mon bonheur. <br />
      %p Je suis passioné de snowboard et je m'initie aussi à la photo avec des amis qui maitrisent plutôt bien la chose : <a href="http://500px.com/maxime" target="_blank">Maxime</a>, <a href="http://500px.com/PierreSchambacher" target="_blank">Pierre</a> et <a href="http://500px.com/nima_izadi" target="_blank">Nima</a>
      %p= link_to 'En savoir plus…', author_path('Nicolas')

  %section.span6
    %div.image-content
      = link_to image_tag('nima.jpg'), author_path('Nima')
    %div.text-content
      %h1= link_to 'Nima Izadi', author_path('Nima')
      %p J'aime les gens, l'Iran, l'anglais, les cultures étrangères… La nourriture indienne !
      %p Bon OK, j'aime <b>beaucoup</b> l'Iran, <b>j'adore</b> la nourriture indienne, et… j'aime bien les aéroports aussi (oui, j'<b>ADORE</b> voyager&nbsp;!)
      %p Je suis aussi guitariste et <a target="_blank" href="http://500px.com/nima_izadi">photographe amateur</a> pendant mon temps libre.
      %p= link_to 'Vous voulez voir mon C.V. ?', author_path('Nima')
