!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang=>"en"}
  %head
    %title MoERailsApp
    
    / Includes CSS
    = stylesheet_link_tag :all

    = csrf_meta_tag

  %body
    - if author_signed_in?
      = link_to "Sign out", destroy_author_session_path, :method => :delete

    = render :partial => "shared/header"
    
    - flash.each do |name, msg|
      = content_tag :p, msg, :id => "flash_#{name}"
    = yield

    = render :partial => "shared/footer"

  / Include des Javascripts
  - #javascript_include_tag :all
  = javascript_include_tag :defaults