== <!DOCTYPE html>
%html{:xmlns => 'http://www.w3.org/1999/xhtml', 'xml:lang' => 'fr', :lang=>'fr', 'xmlns:fb' => 'http://www.facebook.com/2008/fbml',  'xmlns:og' => 'http://opengraphprotocol.org/schema/'}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}/
    %link{:rel => 'shortcut icon', :href => '/favicon.png', :type => 'image/png'}

    = stylesheet_link_tag 'screen', :media => 'screen, projection'
    = stylesheet_link_tag 'print', :media => 'print'
    = stylesheet_link_tag 'media_query'
    /[if IE]
      = stylesheet_link_tag 'ie', :media => 'screen, projection'
    = stylesheet_link_tag 'typography'
    = stylesheet_link_tag 'highlight'
    = render 'shared/meta_information'
    == <link rel="alternate" type="application/rss+xml" title="OnTheRailsAgain - RSS" href="http://ontherailsagain.com/articles.rss" />


    %title 
      On The Rails Again
      - if !(yield :title).empty?
        \-
      = yield :title
    = csrf_meta_tag
    
  %body
    = render :partial => 'shared/header'
    #header_border
    .container
      %section
        .content                       
          - flash.each do |name, msg|
            = content_tag :p, msg, :id => "flash_#{name}"
          = yield 
        
    %footer
      .content
        = yield :footer
  
    = javascript_include_tag "jquery.min"
    = yield :javascript
    = javascript_include_tag 'https://apis.google.com/js/plusone.js'
    = javascript_include_tag 'http://platform.twitter.com/widgets.js'
    #fb-root
    :javascript 
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/fr_FR/all.js#appId=201467316581947&xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

    - if Rails.env == 'production' and !current_author
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-25978280-1']);
        _gaq.push(['_trackPageview']);
        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

