== <!DOCTYPE html>
%html{:xmlns => 'http://www.w3.org/1999/xhtml', 'xml:lang' => 'fr', :lang=>'fr', 'xmlns:fb' => 'http://www.facebook.com/2008/fbml',  'xmlns:og' => 'http://opengraphprotocol.org/schema/'}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}/
    %meta{ :name => 'viewport', :content => 'width=device-width, initial-scale=1.0' }
    
    = favicon_link_tag('/favicon.png', :rel => 'shortcut icon', :type => 'image/png')

    = stylesheet_link_tag 'application'#, :media => 'screen, projection'
    
    = render 'shared/meta_information'
    == <link rel="alternate" type="application/rss+xml" title="OnTheRailsAgain - RSS" href="http://ontherailsagain.com/articles.rss" />
    
    = yield :header

    %title 
      - if (yield :title).empty?
        On The Rails Again
      - else
        = yield :title
    = csrf_meta_tag
    
  %body
    = render :partial => 'shared/header'
    .container.row-fluid
      - if current_author
        = button_to 'logout', destroy_author_session_path, :method => :delete, :id => 'logoutButton'
      %section
        .content.row-fluid                       
          - flash.each do |name, msg|
            = content_tag :p, msg, :id => "flash_#{name}"
          = yield 
        
    %footer#page-footer.container.row-fluid
      .page-header
      .content
        Site et design réalisé par deux passionnés des technologies du Web
        <a href="mailto:lowx512@gmail.com">Nicolas Dupont</a>
        &
        <a href="mailto:nim.izadi@gmail.com">Nima Izadi</a>
        
        = yield :footer

    = javascript_include_tag "application"
    = yield :javascript
    - if Rails.env == 'production' and !current_author
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-25978280-1']);
        _gaq.push(['_trackPageview']);
        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();